.span-border{
    border-bottom: 3px solid #1F1298;
    border-bottom-width: 4px;
    display: inline;
}
.choose-us-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choose-us-heading{
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.choose-us-heading::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid #1F1298;
}